<h2>新規登録</h2>


  <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, "ニックネーム" %><br />
    <%= f.text_field :nickname, id:"user_nickname" %>
   </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, id:"user_email", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード（6文字以上）" %><br />
    <%= f.password_field :password, id:"user_password", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード再入力" %><br />
    <%= f.password_field :password_confirmation, id:"user_password_confirmation", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :sex_id, "性別" %><br />
    <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}) %>
  </div>

  <div class="field">
    <%= f.label :generation_id, "年齢" %><br />
    <%= f.collection_select(:generation_id, Generation.all, :id, :name, {}) %>
  </div>

  <div class="field">
    <%= f.label :height, "身長" %><br />
    <%= f.text_field :height, id:"user_hight", autofocus: true, autocomplete: "height" %>
  </div>

  <div class="field">
    <%= f.label :body_weight, "体重" %><br />
    <%= f.text_field :body_weight, id:"user_body_weight", autofocus: true, autocomplete: "body_weight" %>
  </div>


  <div class="actions">
     <%= f.submit "新規登録" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
