<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
   
<main>

  <section class="py-5 text-center container">
  
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">You’re awesome, you know?</h1>
        <p class="lead text-muted">さあ、本日もトレーニングをした内容を記録しましょう</p>
        
    <%# トレーニング記録 %>
        <%= link_to( new_record_path) do %>
          <span class="btn btn-primary my-2">本日のトレーニングを追加</span>
        <% end %>
        
      </div>
    </div>
  </section>

 <% @records.each do |record| %>
  <div class="album py-5 bg-light ">
    <div class="container">

      <div class="row row-cols- row-cols-sm-2 g-2 justify-content-center ">

        <div class="col">
          <div class="card shadow-sm">

         <%= image_tag record.image, class: "item-img" if record.image.attached? %>

<div class="card-body">
  <p><div>
    <div class = "record-days" >
      <p>day: <%= record.days %>日</p>
    </div>
    <div>
      <p>トレーニング部位: <%= record.training_site.name %></p>
    </div>
    <div>
      <p>トレーニング種目: <%= record.training_event.name %></p>
    </div>
    <div >
      <p>メモ: <%= record.thoughts %></p>
    </div>
  </div></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"> <%= link_to 'view more', record_path(record.id), method: :get %></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                  <%# ここをいいねできるようにしたい %>
                <small class="text-muted">9 mins</small>
                  <%# ここをいいねできるようにしたい %>
              </div>
            </div>
          </div>
        </div>
        
        
        
      </div>
    </div>
  </div>
<% end %>

</main>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>