
  <div class="album py-5 bg-light ">
    <div class="container">

      <div class="row row-cols- row-cols-sm-2 g-2 justify-content-center ">

        <div class="col">
          <div class="card shadow-sm">

             <%= image_tag @record.image %>

                <div class="card-body">
                  <p>
                  <div>
                    <div class = "record-days" >
                       <p>day: <%= @record.days %>日</p>
                    </div>
                    <div>
                       <p>トレーニング部位: <%= @record.training_site.name %></p>
                    </div>
                    <div>
                      <p>トレーニング種目: <%= @record.training_event.name %></p>
                    </div>
                    <div >
                       <p>メモ: <%= @record.thoughts %></p>
                    </div>
                  </div>
                  </p>      
                      </div>
                    </div>
                  </div>
                  </div>