
 
  <div class="album py-5 bg-light ">
  
    <div class="container">

      <div class="row row-cols- row-cols-sm-2 g-2 justify-content-center ">

        <div class="col">
          <div class="card shadow-sm">

             <%= image_tag @record.image %>

                <div class="card-body">
                  <p>
                    <div class = "record-days" >
                       <p>day: <%= @record.days %>日</p>
                    </div>
                    <div>
                       <p>トレーニング部位: <%= @record.training_site.name %></p>
                    </div>
                    <div>
                      <p>トレーニング種目: <%= @record.training_event.name %></p>
                    </div>
                     <div >
                       <p>重量 or 消費カロリー: <%= @record.weight %></p>
                    </div>
                     <div >
                       <p>回数・有酸素時間: <%= @record.times.name %></p>
                    </div>
                     <div >
                       <p>セット数: <%= @record.set_count.name %></p>
                    </div>
                    <div >
                       <p>感想・メモ: <%= @record.thoughts %></p>
                    </div>
                  </p>   
                   <p>
                    <%= link_to( edit_record_path) do %>
                      <span class="btn btn-primary my-2" >記録を編集</span>
                    <% end %>

                     <%= link_to record_path, method: :delete  do %>
                      <span class="btn btn-primary my-2">記録を削除</span>
                    <% end %>
                    </p>
                </div>                  
        </div>
      </div>
    </div>
   </div>
                 
            