
 
  <div class="album py-5 bg-light ">
  
    <div class="container">

      <div class="row row-cols- row-cols-sm-2 g-2 justify-content-center ">

        <div class="col">
          <div class="card shadow-sm">

             <%= image_tag @record.image %>

                <div class="card-body">
                  <p>
                    <div class = "record-days" >
                       <p>day: <%= @record.days %>日</p>
                    </div>
                    <div>
                       <p>トレーニング部位: <%= @record.training_site.name %></p>
                    </div>
                    <div>
                      <p>トレーニング種目: <%= @record.training_event.name %></p>
                    </div>
                     <div >
                       <p>重量 or 消費カロリー: <%= @record.weight %></p>
                    </div>
                     <div >
                       <p>回数・有酸素時間: <%= @record.times.name %></p>
                    </div>
                     <div >
                       <p>セット数: <%= @record.set_count.name %></p>
                    </div>
                    <div >
                       <p>感想・メモ: <%= @record.thoughts %></p>
                    </div>
                  </p>   
          <% if current_user.liked_by?(@record.id) %>
            <td>
                <%= link_to  destroy_favorite_path(@record), method: :DELETE, remote: true do %> 
                  <i class="fa-solid fa-thumbs-up fa-beat"></i>
                <%= @record.favorites.count %>
              <% end %>
            </td>
          <% else %>
            <td>
               <%= link_to create_favorite_path(@record), method: :POST, remote: true do %> 
                 <i class="fa-solid fa-thumbs-up fa-beat"></i>
                <%= @record.favorites.count %>
               <% end %>
            </td>
          <% end %>
                <% if @record.user == current_user %>
                   <p>
                    <%= link_to( edit_record_path) do %>
                  <button type="button" class="btn btn-warning">記録を編集</button>
                    <% end %>

                     <%= link_to record_path, method: :delete  do %>
                    <button type="button" class="btn btn-success">記録を削除</button>
                    <% end %>
                    </p>
                <% end %>
                         

          
          </div>                  
        </div>
      </div>
            <div class="container">
             <div class="row row-cols- row-cols-sm-2 g-2 justify-content-center ">
              <div class="col">
               <div class="card shadow-sm">
                <div class="card-body">
                  <% if user_signed_in? %>
                    <%= form_with(model: [@record, @comment], local: true) do |form| %>
                        <div class="form-group">
                          <%= form.text_area :text, placeholder: "コメントする", rows: "2" ,class: "form-control"%>
                        </div>
                         <div class="d-grid gap-2 col-6 mx-auto">
                          <%= form.submit "SEND", class: "btn btn-outline-secondary" %>
                        </div>
                    <% end %>
                  <% else %>
                    <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
                  <% end %>
                  <div class="comments">
                    <h4>＜コメント一覧＞</h4>
                    <% @comments.each do |comment| %>
                      <p>
                        <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
                        <%= comment.text %>
                      </p>
                    <% end %>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
    </div>
   </div>
                 
            