<!DOCTYPE html>
<html>
  <head>
    <title>BodymakingAap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
         <script src="https://kit.fontawesome.com/69783dde2e.js" crossorigin="anonymous"></script>
  </head>

  <body>
   <header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Don't think, just do</h4>
          <p class="text-muted">このアプリは誰もが継続してトレーニングを続けられるよう開発されたものです、毎日のトレーニング内容を記録し仲間とシェアすることで理想の身体を目指しましょう！</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white"><i class="fa-solid fa-circle-user"></i>Who you are?</h4>

          <ul class="list-unstyled">
        <% if user_signed_in? %>
              <%= link_to( user_path) do %>
               <li><button type="button" class="btn btn-outline-primary">welcome ! <%=current_user.nickname%></button></li>
              <% end %>
              
              <%= link_to( destroy_user_session_path, method: :get ) do %>
               <li><button type="button" class="btn btn-outline-primary"><%='logout'%></button></li>
             <% end %>

        <% else %>
           <%= link_to( new_user_session_path) do %>
            <li><button type="button" class="btn btn-outline-primary fa-beat-fade">login</button></li> 
          <% end %>
           <%= link_to( new_user_registration_path) do %>
            <li><button type="button" class="btn btn-outline-primary fa-beat-fade ">sign up</button></li>
         <% end %>
       <% end %>
         </ul>
           <% if flash[:notice] %>
              <div class="alert alert-primary" role="alert"><strong><%= notice %></strong></div>
            <% end %>
            <% if flash[:alert] %>
              <div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"></svg>
        <strong><i class="fa-solid fa-dumbbell "></i>  BODYMAKE  <i class="fa-solid fa-dumbbell "></i></strong>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  
</header>
    <%= yield %>
 <footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>

  </body>
</html>
